.game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.gamecontent {
    display: flex;
    gap: 30px;
    align-items: center;
}

@media screen and (max-width: 450px) {
    .gamecontent{
        flex-direction: column;
    }
}
    
